
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
	white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
	max-width: 280px;
}

/* Custom CSS below ==================================== Default CSS above */

/* Changing the Bootstrap button style */
.btn-default {
	border-color: lightgray;
	border-width: 0.06em;
	box-shadow: grey 0.07em 0.07em;
}

.btn-jumbo {
	margin-bottom: 0.5em;
	margin-right: 0.5em;
	background: rgba(255, 255, 255, 0.5);
}

.card-btn-text {
	border-top: inset;
	border-width: 0.06em;
	padding: 0.5em;
}

/* The spacing between the top of the navbar and the footer. */

.container-main {
	margin-top: 1em;
	margin-bottom: 1em;
}

/*
	background-attachment: static;
 */

.jumbotron-background {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3) 25%, rgba(255, 255, 255, 0.9) 100%), url('../Images/Milk Spill 3.png');
}

.row-divider {
	min-height: 1em;
}
