<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h2>@ViewBag.Title</h2>

			<p>
				This website is mostly used as a single point of contact and reference for Parker Smart.
			</p>
		</div>

		<div class="row-divider"> </div>

		<!--
	Each column of text and buttons is ALWAYS half of the content (col-6)
	Each button/text combo will be side by side until "extra-small" triggers
	and then they will be on top of each other (but stay within their column)
	-->

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="https://www.visualstudio.com/" target="_blank">
						<img width="50" src="~/Images/visual_studio_2012_logo-150x150.png" />
					</a>
				</div>
				<div class="col">
					Visual Studio - Programming environment (C#, Razor, MVC, Javascript, HTML, Deploy)
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="https://www.asp.net/" target="_blank">
						<img width="50" src="~/Images/aspmvc345-logo.png" />
					</a>
				</div>
				<div class="col">
					Some good reference on ASP .Net and MVC.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="http://getbootstrap.com" target="_blank">
						<img width="50" src="~/Images/bootstrap-logo.png" />
					</a>
				</div>
				<div class="col">
					Here's where you can get all things Bootstrap.
					FINALLY updated to Bootstrap 4 (04-17-2020),
					<a href="https://github.com/SpilledMilkCOM/ParkerSmart/commit/b3a1ff08181d6dcb044fe1440812f99c8cc60512" target="_blank">here's</a>
					how I did it.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="https://developer.twitter.com/en" target="_blank">
						<img width="50" src="~/Images/Twitter-Logo.png" />
					</a>
				</div>
				<div class="col">
					Learn how to hook up Twitter widgets on YOUR website.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/ParkerSmart" target="_blank">
						<img src="~/Images/GitHub-Mark-50x50.png" />
					</a>
				</div>
				<div class="col">This site's code lives on GitHub.</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			@Html.ActionLink("Older Site Versions", "Versions", "Home", htmlAttributes: new { @class = "btn btn-default btn-sm" })
		</div>
	</div>
</div>