<h2>@ViewBag.Title.</h2>

<p>This website is mostly used as a single point of contact and reference.</p>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://www.asp.net/" target="_blank">
			<img width="40" src="~/Images/logo_aspmvc345.png" />
		</a>
	</div>
	<div class="col-md-4">Some good reference on ASP .Net and MVC.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="http://getbootstrap.com" target="_blank">
			<img width="40" src="~/Images/logo-bootstrap.png" />
		</a>
	</div>
	<div class="col-md-4">Here's where you can get all things Bootstrap.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-4">
		@Html.ActionLink("Site Versions", "Versions", "Home", htmlAttributes: new { @class = "btn btn-default" })
	</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/ParkerSmart" target="_blank">
			<img src="~/Images/GitHub-Mark-32px.png"/>
		</a>
	</div>
	<div class="col-md-4">This site's code lives on GitHub.</div>
</div>