<div class="jumbotron jumbotron-background">
	@*Provides the wide band at the top*@

	<div class="container">
		@*  Provides the indentation  *@

		<h1 class="display-4" style="margin-top: 1em;">May Contain Awesome...</h1>

		<div class="p-jumbo">
			This site is constantly evolving... Please be patient and you'll be pleasantly surprised.
		</div>

		<row class="row-divider"> </row>

		<p>
			<a class="btn btn-default btn-lg btn-jumbo" href="~/Home/Work">
				<img src="~/Images/GitHub-Mark-32px.png" /> code
			</a>

			<a class="btn btn-default btn-lg btn-jumbo" href="~/Home/Play">
				<img src="~/Images/Youtube-Logo-50x36.png" width="40" /> play
			</a>

			<a class="btn btn-default btn-lg btn-jumbo" href="https://spilledmilkcom.wordpress.com/" target="_blank">
				<img src="~/Images/wordpress-logo-32-blue.png" /> blog
			</a>

			<a class="btn btn-default btn-lg btn-jumbo" href="~/Parker Smart's Resume.pdf" target="_blank">
				<img src="~/Images/pdf-logo-50x50.png" width="33" /> résumé
			</a>
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div>
				<h2>
					One of my favorite tweets
				</h2>
				<p>
					This was <strong>before</strong> Twitter implemented a "sticky" tweet (note the date - 2013). They called it "pinned", but I like to think that I had a hand in this.
					You should  &#x1F497; this to let Twitter know that this was an <strong>AWESOME</strong> idea.
				</p>
			</div>

			@*This block was created from Twitter.  I commented out the <script> that was included because it's already included in the bundles for each page.*@

			<blockquote class="twitter-tweet" data-lang="en">
				<p lang="en" dir="ltr">
					Hey <a href="https://twitter.com/twitter">@@Twitter</a> <a href="https://twitter.com/twitterapi">@@twitterapi</a>
					Do you support a &quot;sticky&quot; tweet? You should support one per account.
				</p>&mdash; Parker Smart (@@SpilledMilkCOM) <a href="https://twitter.com/SpilledMilkCOM/status/380843903869407232">September 20, 2013</a>
			</blockquote>

		</div>

		<div class="col-md-6">
			<h2>Projects</h2>

			<div class="row card-btn-text">
				<div class="col-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="http://mooveepicker.com/" target="_blank">
						<img width="40" src="~/Images/Moovee Picker Cow128x128.png" alt="MooVee Picker Logo - cow picking nose and saying mooV" />
					</a>
				</div>

				<div class="col">
					⚠️ <strong>MooVee Picker</strong> - A site that aggregates Box Office data from many different sources and allows you to make intelligent screen choices for the
					<a href="https://fantasymovieleague.com/" target="_blank">Fantasy Movie Leage</a> game. (on hiatus due to Covid 😷)
					I don't know if I'll be returning to this project as I am no longer working in this industry.
				</div>
			</div>

			<div class="row card-btn-text">
				<div class="col-3 col-sm-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="http://spilledmilk.com" target="_blank">
						<img width="40" src="~/Images/Spilled Milk on Black Mini.png" alt="Spilled Milk Logo" />
					</a>
				</div>
				<div class="col">
					CiCi @@ <strong>Spilled Milk Comics</strong> - A science fiction comic book mini-series I published back in mid 2002.  The source code for the site is out on GitHub.
				</div>
			</div>


			<div class="row card-btn-text">
				<div class="col-3 col-sm-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="http://www.CheckOutMyStuff.net" target="_blank">
						<img width="40" src="~/Images/CheckOutMyStuffLogo50x50.png" alt="Check Out My Stuff Logo - checkbox shaped as an eye" />
					</a>
				</div>

				<div class="col">
					<strong>Check Out My Stuff</strong> - A free library site for YOUR stuff that you want to loan out to people (just cause you can and you're nice).
					Sometimes I'll blog about code, here's one
					<a href="https://spilledmilkcom.wordpress.com/2016/09/11/endless-infinite-scrolling-using-jquery-and-net-mvc/" target="_blank">example</a>.
				</div>
			</div>
		</div>

		<div class="col-md-6 order-md-7">
			<h2>Talks</h2>

			<div class="row card-btn-text">
				<div class="col-3 col-sm-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayUWP" target="_blank">
						<img width="40" src="~/Images/GitHub-Mark-50x50.png" alt="GitHub Octokitty Logo" />
					</a>
				</div>
				<div class="col">
					My "Giving Back" presentation(s) for the <strong>Denver DEV Day</strong> 06-23-2017.
					A sample app to showcase part of Microsoft's UWP Community Toolkit. I blogged about the event in this
					<a href="https://spilledmilkcom.wordpress.com/2017/07/15/denver-dev-day-2017-giving-back-to-the-uwp-community/" target="_blank"><strong>post</strong></a>.
				</div>
			</div>

			<div class="row card-btn-text">
				<div class="col-3 col-sm-3 col-xl-2">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayEFCore" target="_blank">
						<img width="40" src="~/Images/GitHub-Mark-50x50.png" alt="GitHub Octokitty Logo" />
					</a>
				</div>
				<div class="col">
					My previous <strong>Denver DEV Day</strong> presentation - Entity Framework Core.  Officially only presenting THE BASICS instead of intermediate and advanced too.
				</div>
			</div>

		</div>

		<div class="col-md-6 order-md-1">
			<a class="twitter-timeline" data-height="450" href="https://twitter.com/SpilledMilkCOM"></a>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>