<div class="row">

    <section id="news" class="jumbotron">
        <h1>May Contain Awesome...</h1>
        <p class="lead">This site is evolving constantly. Please be patient and you'll be pleasantly surprised...</p>
        <p class="lead">I HOPE that everybody liked the VERY BASIC Entity Framework Core presentation for Denver Dev Days (10-28-2016).  Working on the NEXT presentation in June 2017...</p>

        <div class="col-md-6">
            <a class="btn btn-default btn-lg" href="https://denverdevday.eventday.com/" target="_blank">
                DDD <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
            </a>
        </div>

        <div class="col-md-6">
            <a class="btn btn-default btn-lg" href="http://www.zrhoz.com/" target="_blank">
                View Mobile <span class="glyphicon glyphicon-phone" aria-hidden="true"></span>
            </a>
        </div>
    </section>

    <section id="favTweet" class="row">
        <div class="col-sm-6">

            @*This block was created from Twitter.  I commented out the <script> that was included because it's already included in the bundles for each page.*@

            <blockquote class="twitter-tweet" data-lang="en">
                <p lang="en" dir="ltr">
                    Hey <a href="https://twitter.com/twitter">@@Twitter</a> <a href="https://twitter.com/twitterapi">@@twitterapi</a>
                    Do you support a &quot;sticky&quot; tweet? You should support one per account.
                </p>&mdash; Parker Smart (@@SpilledMilkCOM) <a href="https://twitter.com/SpilledMilkCOM/status/380843903869407232">September 20, 2013</a>
            </blockquote>
            @*
                Already loading this in the parkersmart.js script

                <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
            *@
        </div>
        <div class="col-sm-6">
            <h4>
                One of MY favorite tweets because this was BEFORE Twitter implemented a "sticky" tweet. I like to think that I had a hand in this. ;-)
                You should <span class="glyphicon glyphicon-heart" aria-hidden="true"></span> this to let Twitter know that this was an AWESOME idea.
            </h4>
        </div>
    </section>

    <section id="tweets" class="row">
        <div class="col-sm-6">
            <a class="twitter-timeline" data-height="450" href="https://twitter.com/SpilledMilkCOM">Tweets by SpilledMilkCOM</a>
            <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
    </section>

</div>