<div class="jumbotron">
	@*Provides the wide band at the top*@

	<div class="container">
		@*  Provides the indentation  *@

		<h1 class="display-3">May Contain Awesome...</h1>

		<p>This site is constantly evolving. Please be patient and you'll be pleasantly surprised...</p>

		<p>
			<a class="btn btn-default btn-lg btn-jumbo" href="https://github.com/SpilledMilkCOM" target="_blank">
				<img src="~/Images/GitHub-Mark-32px.png" /> code
			</a>

			<a class="btn btn-default btn-lg btn-jumbo" href="https://www.youtube.com/channel/UChKOxk9J7HWsJ1yt7uZ9eew" target="_blank">
				<img src="~/Images/Youtube-Logo.png" width="40" /> play
			</a>

			<a class="btn btn-default btn-lg btn-jumbo" href="https://spilledmilkcom.wordpress.com/" target="_blank">
				<img src="~/Images/wordpress-logo-32-blue.png" /> blog
			</a>
		</p>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-6">
			<div>
				<h2>
					One of my favorite tweets
				</h2>
				<p>
					This was <strong>before</strong> Twitter implemented a "sticky" tweet (note the date - 2013). I like to think that I had a hand in this. ;-)
					You should <span aria-hidden="true" class="iconic iconic-heart"></span> this to let Twitter know that this was an <strong>AWESOME</strong> idea.
				</p>
			</div>

			@*This block was created from Twitter.  I commented out the <script> that was included because it's already included in the bundles for each page.*@

			<blockquote class="twitter-tweet" data-lang="en">
				<p lang="en" dir="ltr">
					Hey <a href="https://twitter.com/twitter">@@Twitter</a> <a href="https://twitter.com/twitterapi">@@twitterapi</a>
					Do you support a &quot;sticky&quot; tweet? You should support one per account.
				</p>&mdash; Parker Smart (@@SpilledMilkCOM) <a href="https://twitter.com/SpilledMilkCOM/status/380843903869407232">September 20, 2013</a>
			</blockquote>

		</div>

		<div class="col-md-6">
			<a class="twitter-timeline" data-height="450" href="https://twitter.com/SpilledMilkCOM"></a>
			<script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
		</div>
	</div>
</div>