@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Stuff &amp; Things</h1>
    <p class="lead">This site is evolving constantly. Please be patient and you'll be pleasantly surprised...</p>
</div>

<div class="row">

</div>