
<h2>@ViewBag.Title</h2>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://account.xbox.com/en-us/profile?gamerTag=spilledmilkcom" target="_blank">
			<img src="~/Images/xbox-logo.png" width="40" />
		</a>
	</div>
	<div class="col-md-4">My Xbox Live profile.  C'mon and join the FUN!</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<a href="http://www.xboxlc.com/profile/SpilledMilkCOM" target="_blank">
		<img src="http://www.xboxlc.com/cards/black/SpilledMilkCOM.jpg" />
	</a>
</div>

<div class="row-divider"> </div>

TO BE ADDED:<br />
Playstation<br />