
<h2>@ViewBag.Title</h2>


<table class="table table-responsive version-table">
	<thead>
		<tr>
			<td>Version</td>
			<td>Date</td>
			<td>Title</td>
			<td>Description</td>
		</tr>
	</thead>

	<tr>
		<td>2.0.0</td>
		<td>10/01/2016</td>
		<td>Two dot OH!</td>
		<td>
			Torched the old site and rebuilding using .Net MVC and Bootstrap.
		</td>
	</tr>

	<tr>
		<td>1.0.6</td>
		<td>09/12/2015</td>
		<td>Update</td>
		<td>
			Moved to PLESK server
		</td>
	</tr>

	<tr>
		<td>1.0.5</td>
		<td>09/02/2006</td>
		<td>Update</td>
		<td>
			Added disclaimer
		</td>
	</tr>

	<tr>
		<td>1.0.4</td>
		<td>08/28/2006</td>
		<td>Update</td>
		<td>
			Added some pages under style
		</td>
	</tr>

	<tr>
		<td>1.0.3</td>
		<td>08/25/2006</td>
		<td>Update</td>
		<td>
			Added graphics, vb6 code
		</td>
	</tr>

	<tr>
		<td>1.0.2</td>
		<td>08/24/2006</td>
		<td>Update</td>
		<td>
			Added logos and some more links
		</td>
	</tr>

	<tr>
		<td>1.0.1</td>
		<td>08/23/2006</td>
		<td>Update</td>
		<td>
			Added navigation menu, master pages, some links
		</td>
	</tr>

	<tr>
		<td>1.0.0</td>
		<td>08/07/2006</td>
		<td>ASP .Net</td>
		<td>
			Created the old ASP .Net site
		</td>
	</tr>

</table>