
<h2>@ViewBag.Title</h2>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayEFCore" target="_blank">
			<img src="~/Images/GitHub-Mark-32px.png" />
		</a>
	</div>
	<div class="col-md-4">My Entity Framework Core presentation(s) for the Denver Dev Day 10-28-2016.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="http://spilledmilk.com" target="_blank">
			<span class="glyphicon glyphicon-link" aria-hidden="true" />
		</a>
	</div>
	<div class="col-md-4">CiCi @@ Spilled Milk Comics - A science fiction comic book mini-series I published back in mid 2002.  I may put the source out on GitHub.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="http://www.CheckOutMyStuff.net" target="_blank">
			<img src="~/Images/CheckOutMyStuffLogo30x30.png" />
		</a>
	</div>
	<div class="col-md-4">Check Out My Stuff - A free library site for YOUR stuff that you want to loan out to people (just cause you can and you're nice).  I may put the source out on GitHub.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://www.microsoft.com/en-us/store/p/idiot-driver/9nblggh0j6ds" target="_blank">
			<img width="50" src="~/Images/windows_store_icon__transparent_blue___homemade__by_bannax1994-d8enq8q.png" />
		</a>
	</div>
	<div class="col-md-4">Idiot Driver - A voice driven twitter client to rant about idiots on the road.  Coming soon to the Apple Store and Google Play.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/ParkerSmart" target="_blank">
			<img src="~/Images/GitHub-Mark-32px.png" />
		</a>
	</div>
	<div class="col-md-4">This site's code lives on GitHub.</div>
</div>