<h2>@ViewBag.Title</h2>

<div class="row-divider"> </div>

<div class="row">
    <div class="col-md-1">
        <a class="btn btn-default btn-lg" href="~/Parker Smart's Resume.pdf">
            <span class="glyphicon glyphicon-file" aria-hidden="true" />
        </a>
    </div>
    <div class="col-md-5">
        A fairly up to date <strong>resumé</strong>, but a LONGER (more complete) resumé is out on my <a href="https://www.linkedin.com/in/parkersmart">LinkedIn</a> profile complete with "shout out's" and recommendations.
    </div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayEFCore" target="_blank">
			<img src="~/Images/GitHub-Mark-32px.png"/>
		</a>
	</div>
	<div class="col-md-5">My Entity Framework Core presentation(s) for the Denver Dev Day 10-28-2016.  Officially only presenting THE BASICS instead of intermediate and advanced too.
		Working on the intermediate talk for June 2017...</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="http://www.ncm.com/" target="_blank">
			<img width="35" src="~/Images/NCM-Logo-Vert.png" />
		</a>
	</div>
	<div class="col-md-5">National CineMedia - I work here as an "Enterprise Solutions Architect". Currently working on microservices in either <a href="http://www.microsoft.com/net/core">.Net Core or .Net Standard</a>. None of what I do is public facing, sorry about that.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="http://spilledmilk.com" target="_blank">
			<img width="35" src="~/Images/Spilled Milk on Black Mini.png" />
		</a>
	</div>
	<div class="col-md-5">CiCi @@ Spilled Milk Comics - A science fiction comic book mini-series I published back in mid 2002.  I may put the source out on GitHub.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="http://www.CheckOutMyStuff.net" target="_blank">
			<img src="~/Images/CheckOutMyStuffLogo30x30.png" />
		</a>
	</div>
	<div class="col-md-5">Check Out My Stuff - A free library site for YOUR stuff that you want to loan out to people (just cause you can and you're nice).  I may put the source out on GitHub.</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://www.microsoft.com/en-us/store/p/idiot-driver/9nblggh0j6ds" target="_blank">
			<img width="35" src="~/Images/windows_store_icon__transparent_blue___homemade__by_bannax1994-d8enq8q.png" />
		</a>
	</div>
	<div class="col-md-5">Idiot Driver - A voice driven twitter client to rant about idiots on the road.  Coming soon to the Apple Store and Google Play.</div>

	<div class="col-md-3">
		<a class="twitter-follow-button"
		   href="https://twitter.com/IdiotDriverApp"
		   data-show-count="false"
		   data-size="large">
			Follow @@IdiotDriverApp
		</a>
	</div>
</div>

<div class="row-divider"> </div>

<div class="row">
	<div class="col-md-1">
		<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/ParkerSmart" target="_blank">
			<img src="~/Images/GitHub-Mark-32px.png" />
		</a>
	</div>
	<div class="col-md-5">This site's code lives on GitHub.</div>
</div>