<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h2>@ViewBag.Title</h2>
		</div>

		<div class="row-divider"> </div>

		<!--
	Each column of text and buttons is ALWAYS half of the content (col-xs-6)
	Each button/text combo will be side by side until "extra-small" triggers
	and then they will be on top of each other (but stay within their column)
	-->

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg btn-jumbo" href="~/Parker Smart's Resume.pdf" target="_blank">
						<img src="~/Images/pdf-logo-50x50.png" width="50" alt="PDF logo used for Parker Smart's resume" />
					</a>
				</div>
				<div class="col">
					A fairly up to date <strong>resume</strong>, but a LONGER (more complete) one is out on my
					<a href="https://www.linkedin.com/in/parkersmart">LinkedIn</a> profile complete with
					"shout out's" and recommendations.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayUWP" target="_blank">
						<img src="~/Images/GitHub-Mark-50x50.png" alt="GitHub Octokitty Logo" />
					</a>
				</div>
				<div class="col">
					My "Giving Back" presentation(s) for the <strong>Denver DEV Day</strong> 06-23-2017.
					A sample app to showcase part of Microsoft's UWP Community Toolkit. I blogged about the event in this
					<a href="https://spilledmilkcom.wordpress.com/2017/07/15/denver-dev-day-2017-giving-back-to-the-uwp-community/" target="_blank"><strong>post</strong></a>.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="http://mooveepicker.com/" target="_blank">
						<img width="50" src="~/Images/Moovee Picker Cow128x128.png" alt="MooVee Picker Logo - cow picking nose and saying mooV" />
					</a>
				</div>

				<div class="col">
					<strong>MooVee Picker</strong> - A site that aggregates Box Office data from many different sources and allows you to make intelligent screen choices for the
					<a href="https://fantasymovieleague.com/" target="_blank">Fantasy Movie Leage</a> game.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayEFCore" target="_blank">
						<img src="~/Images/GitHub-Mark-50x50.png" alt="GitHub Octokitty Logo" />
					</a>
				</div>
				<div class="col">
					My previous <strong>Denver DEV Day</strong> presentation - Entity Framework Core.  Officially only presenting THE BASICS instead of intermediate and advanced too.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="http://www.ncm.com/" target="_blank">
						<img width="50" src="~/Images/NCM-Logo-Vert.png" alt="National CineMedia Logo" />
					</a>
				</div>
				<div class="col"><strong>National CineMedia</strong> - I work here as an "Enterprise Solutions Architect". Currently working on microservices in either <a href="http://www.microsoft.com/net/core">.Net Core or .Net Standard</a>. None of what I do is public facing, sorry about that.</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/ParkerSmart" target="_blank">
						<img src="~/Images/GitHub-Mark-50x50.png" alt="GitHub Octokitty Logo" />
					</a>
				</div>
				<div class="col">This site's code lives on GitHub [since 10/1/2016].</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="http://spilledmilk.com" target="_blank">
						<img width="50" src="~/Images/Spilled Milk on Black Mini.png" alt="Spilled Milk Logo" />
					</a>
				</div>
				<div class="col">
					CiCi @@ <strong>Spilled Milk Comics</strong> - A science fiction comic book mini-series I published back in mid 2002.  The source code for the site is out on GitHub.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-7 mx-auto">
					<a class="twitter-follow-button"
					   href="https://twitter.com/SpilledMilkCOM"
					   data-show-count="true"
					   data-size="large">
						Follow @@SpilledMilkCOM
					</a>
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="http://www.CheckOutMyStuff.net" target="_blank">
						<img src="~/Images/CheckOutMyStuffLogo50x50.png" alt="Check Out My Stuff Logo - checkbox shaped as an eye" />
					</a>
				</div>

				<div class="col">
					<strong>Check Out My Stuff</strong> - A free library site for YOUR stuff that you want to loan out to people (just cause you can and you're nice).
					Sometimes I'll blog about code, here's one
					<a href="https://spilledmilkcom.wordpress.com/2016/09/11/endless-infinite-scrolling-using-jquery-and-net-mvc/" target="_blank"><strong>example</strong></a>.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-7 mx-auto">
					<a class="twitter-follow-button"
					   href="https://twitter.com/CheckOutMyStuff"
					   data-show-count="true"
					   data-size="large">
						Follow @@CheckOutMyStuff
					</a>
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-4 col-md-3">
					<a class="btn btn-default btn-lg" href="https://www.microsoft.com/en-us/store/p/idiot-driver/9nblggh0j6ds" target="_blank">
						<img width="50" src="~/Images/IdiotDriver.png" alt="Idiot Driver Logo - car horn logo" />
					</a>
				</div>
				<div class="col">
					<strong>Idiot Driver</strong> - A voice driven twitter client to rant about idiots on the road.  Coming soon to the Apple Store and Google Play.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-md-6">
			<div class="row">
				<div class="col-6 mx-auto">
					<a class="twitter-follow-button"
					   href="https://twitter.com/IdiotDriverApp"
					   data-show-count="true"
					   data-size="large">
						Follow @@IdiotDriverApp
					</a>
				</div>
			</div>
		</div>
	</div>
</div>