<div class="container container-main">
	<div class="row">

		<div class="col-12">
			<h2>@ViewBag.Title</h2>
		</div>

		<div class="row-divider"> </div>

		<!--
		Each column of text and buttons is ALWAYS half of the content (col-xs-6)
		Each button/text combo will be side by side until "extra-small" triggers
		and then they will be on top of each other (but stay within their column)
		-->

		<div class="card-btn-text col-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="~/Parker Smart's Resume.pdf">
						<span class="iconic iconic-file-doc" aria-hidden="true" />
					</a>
				</div>
				<div class="col">
					A fairly up to date <strong>resumé</strong>, but a LONGER (more complete) one is out on my
					<a href="https://www.linkedin.com/in/parkersmart">LinkedIn</a> profile complete with
					"shout out's" and recommendations.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayUWP" target="_blank">
						<img src="~/Images/GitHub-Mark-32px.png" />
					</a>
				</div>
				<div class="col">
					My "Giving Back" presentation(s) for the <strong>Denver DEV Day</strong> 06-23-2017.
					A sample app to showcase part of Microsoft's UWP Community Toolkit. I blogged about the event in this
					<a href="https://spilledmilkcom.wordpress.com/2017/07/15/denver-dev-day-2017-giving-back-to-the-uwp-community/" target="_blank"><strong>post</strong></a>.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-6">
			<div class="row">
				<div class="col-sm-4 col-md-3">
					<a class="btn btn-default btn-lg" href="http://mooveepicker.azurewebsites.net/" target="_blank">
						<img width="55" src="~/Images/Moovee Picker Cow128x128.png" />
					</a>
				</div>

				<div class="col">
					MooVee Picker - A site that aggregates Box Office data from many different sources and allows you to make intelligent screen choices for the
					<a href="https://fantasymovieleague.com/" target="_blank">Fantasy Movie Leage</a> game.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/DenDevDayEFCore" target="_blank">
						<img src="~/Images/GitHub-Mark-32px.png" />
					</a>
				</div>
				<div class="col">
					My previous <strong>Denver DEV Day</strong> presentation - Entity Framework Core.  Officially only presenting THE BASICS instead of intermediate and advanced too.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="http://www.ncm.com/" target="_blank">
						<img width="35" src="~/Images/NCM-Logo-Vert.png" />
					</a>
				</div>
				<div class="col">National CineMedia - I work here as an "Enterprise Solutions Architect". Currently working on microservices in either <a href="http://www.microsoft.com/net/core">.Net Core or .Net Standard</a>. None of what I do is public facing, sorry about that.</div>
			</div>
		</div>

		<div class="card-btn-text col-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="https://github.com/SpilledMilkCOM/ParkerSmart" target="_blank">
						<img src="~/Images/GitHub-Mark-32px.png" />
					</a>
				</div>
				<div class="col">This site's code lives on GitHub [since 10/1/2016].</div>
			</div>
		</div>

		<div class="card-btn-text col-sm-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="http://spilledmilk.com" target="_blank">
						<img width="35" src="~/Images/Spilled Milk on Black Mini.png" />
					</a>
				</div>
				<div class="col">
					CiCi @@ Spilled Milk Comics - A science fiction comic book mini-series I published back in mid 2002.  The source code for the site is out on GitHub.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-sm-6">
			<div class="row">
				<div class="col-7 mx-auto">
					<a class="twitter-follow-button"
					   href="https://twitter.com/SpilledMilkCOM"
					   data-show-count="true"
					   data-size="large">
						Follow @@SpilledMilkCOM
					</a>
				</div>
			</div>
		</div>

		<div class="card-btn-text col-sm-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="http://www.CheckOutMyStuff.net" target="_blank">
						<img src="~/Images/CheckOutMyStuffLogo30x30.png" />
					</a>
				</div>

				<div class="col">
					Check Out My Stuff - A free library site for YOUR stuff that you want to loan out to people (just cause you can and you're nice).
					Sometimes I'll blog about code, here's one
					<a href="https://spilledmilkcom.wordpress.com/2016/09/11/endless-infinite-scrolling-using-jquery-and-net-mvc/" target="_blank"><strong>example</strong></a>.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-sm-6">
			<div class="row">
				<div class="col-7 mx-auto">
					<a class="twitter-follow-button"
					   href="https://twitter.com/CheckOutMyStuff"
					   data-show-count="true"
					   data-size="large">
						Follow @@CheckOutMyStuff
					</a>
				</div>
			</div>
		</div>

		<div class="card-btn-text col-sm-6">
			<div class="row">
				<div class="col-sm-4 col-md-3 col-lg-2">
					<a class="btn btn-default btn-lg" href="https://www.microsoft.com/en-us/store/p/idiot-driver/9nblggh0j6ds" target="_blank">
						<img width="35" src="~/Images/IdiotDriver.png" />
					</a>
				</div>
				<div class="col">
					Idiot Driver - A voice driven twitter client to rant about idiots on the road.  Coming soon to the Apple Store and Google Play.
				</div>
			</div>
		</div>

		<div class="card-btn-text col-sm-6">
			<div class="row">
				<div class="col-6 mx-auto">
					<a class="twitter-follow-button"
					   href="https://twitter.com/IdiotDriverApp"
					   data-show-count="true"
					   data-size="large">
						Follow @@IdiotDriverApp
					</a>
				</div>
			</div>
		</div>
	</div>
</div>